body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #282c34 !important;
}
.LoginStyle{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('./assets/img/bg.jpg');
  background-position:100%, 100% ;
  background-repeat: no-repeat;
}
.FormGroup div{
  margin:10px  0;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.wrapper .left{
  width: 250px;
  height: 100vh;
}
.right{
  width: 100%;
}
.right .Header {
  width: 90%;
  margin: 10px auto;
}
.Header div input{
  width: 40%;
}
